@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>Informasi kontak dan alamat</h3>

<address>
    Electrical and Information Technology Engineering Departement, UGM<br />
    Komplek Fakultas Teknik UGM, Jl. Grafika No.2<br />
    Senolowo, Sinduadi, Kec. Mlati, Kota Yogyakarta, Daerah Istimewa Yogyakarta 55281<br />
    <abbr title="Phone">P:</abbr>
    (0274) 552305
</address>