@{
    ViewBag.Title = "Home";
}

<div class="jumbotron jumbotron-fluid">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <h1 class="h1">Halo! Saya JaniBot!</h1>
                <p class="lead">
                    Saya adalah asisten akademik virtual dikhususkan untuk kalangan dosen DTETI FT UGM seperti anda!
                </p>
                <h3>Silahkan dicoba pada panel berikut:</h3>
            </div>
            <div class="col-md-6 align-items-center">
                <div class="card bg-info mb-3" style="max-width:480px">
                    <div class="card-body">
                        <iframe style="max-width: 480px; width: 100%; min-height: 640px;" src="https://webchat.botframework.com/embed/JaniDispatchBot?s=L54WNQrk7NE.n7b8JHOzjVM54Q-qdlHttS9-IM9X7jKtmJX8baVGoHM"</iframe>
                </div>
            </div>
        </div>
    </div>
</div>
