@{
    ViewBag.Title = "Home";
}

<div class="jumbotron jumbotron-fluid">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <h1 class="h1">Halo! Saya JaniBot!</h1>
                <p class="lead">
                    Saya adalah asisten akademik virtual dikhususkan untuk kalangan dosen DTETI FT UGM seperti anda!
                </p>
                <h3>Silahkan dicoba pada panel berikut:</h3>
            </div>
            <div class="col-md-6 align-items-center">
                <div class="card bg-info mb-3" style="max-width:480px">
                    <div class="card-body">
                        <iframe style="max-width: 480px; width: 100%; min-height: 640px;" src="https://webchat.botframework.com/embed/JaniDispatchBot?t=ew0KICAiYWxnIjogIlJTMjU2IiwNCiAgImtpZCI6ICJBT08tZXhGd2puR3lDTEJhOTgwVkxOME1tUTgiLA0KICAieDV0IjogIkFPTy1leEZ3am5HeUNMQmE5ODBWTE4wTW1ROCIsDQogICJ0eXAiOiAiSldUIg0KfQ.ew0KICAiYm90IjogIkphbmlEaXNwYXRjaEJvdCIsDQogICJzaXRlIjogIkw1NFdOUXJrN05FIiwNCiAgImNvbnYiOiAiNm1PclRUWFdvRVFGVlJHTmt1WG55WC1uIiwNCiAgIm5iZiI6IDE1NjM4NjY4NzYsDQogICJleHAiOiAxNTYzODcwNDc2LA0KICAiaXNzIjogImh0dHBzOi8vd2ViY2hhdC5ib3RmcmFtZXdvcmsuY29tLyIsDQogICJhdWQiOiAiaHR0cHM6Ly93ZWJjaGF0LmJvdGZyYW1ld29yay5jb20vIg0KfQ.FJSPoyYuMK92zdvqY7lQCYaVI-odKqEAwsJQZJ-Pvvjm5Ozykfyp6qnj74jE2NALouAiDYtIYez1U2sG0h2PGdM4UNFQnAmoM2CJiGl5nsj6o9x25uKXSepZEavkWtqd5O2g1uv6mTXQX-R-UFuqRlvjNCajosyYp0Lhe59G94GwftELhOHWCpMItW1M2ZILTMCfgFAVAYt2Ij3wy-F_tZ-x9eLCy6EVslNYvdVd-fBF4XMT9mraEENrulfCIJQOuWv_W5gx1gS6XBISfAnbousnfxrtS_LWgTmRvpfPZEz0jBF4y7eVrLuBIxRDlnoEdS27wx8pLma5cIjX9YGX2g"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
